<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/images/fire-element.png" alt="icon" width="25px" height="25px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click) = "goToLogin()" >Login <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active"  (click) = "goToSignup()" >Signup</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3" style ="padding-top: 2rem">
      <form>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input [(ngModel)] = "firstName" type="text" class="form-control" id="firstName" name="firstName'"  placeholder="Enter First Name" required autofocus>
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input [(ngModel)] = "lastName" type="text" class="form-control" id="lastName" name="lastName'"  placeholder="Enter Last Name" required >
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="mobileNumber">Mobile Number</label>
          <input [(ngModel)] = "mobileNumber" type="text" class="form-control" id="mobileNumber" name="mobileNumber'"  placeholder="Enter First Name" required >
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input [(ngModel)] = "email" type="email" class="form-control" id="email" name="email"  placeholder="Enter Email" required >
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [(ngModel)] = "password" type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        
        
        <button type="submit" class="btn btn-primary" (click) = "signUp()">Submit</button>
      </form>
    </div>
  </div>
</div>